body {
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
}

.clear {
    clear: both;
}

#header-container {
    position: absolute; 
    height: 80px;
    width: 100%;
    z-index: 100;
}
#header {
    padding: 15px;
    height: 50px;
}
#cover-content {
    background-image: url("/images/ayz.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    height:290px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0px;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%;
}

#about {
}

.about-title {
    text-align: center;
    color: #222222;
    letter-spacing: 1px;
    font-size: 38px;
    padding-right: 10px; /*makes the Y line up correctly*/
}
.about-description {
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: black;
}

.center {
    text-align: center;
}

#links {
    padding-left: 14px;
}

img.gallery {
    background: #ccc;
    padding: 1px;
    border: 3px solid #333;
}

div.footer-spacer {
    padding-bottom: 80px;
}

footer {
    background: #111111;
    padding: 15px 0px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}